html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    /*overflow-x: hidden;*/

    margin: 0;
    padding: 0;

    letter-spacing: .01em;

    color: #464646;
    background-color: #fff;
}

a {
    text-decoration: none;
}

img {
    display: block;

    max-width: 100%;
    max-height: 100%;
}

/*.visually-hidden:not(:focus):not(:active) {*/
.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.main-header {
    background-color: rgba(240, 197, 46, .5);
    box-shadow: inset 0 40px 0 0 #fff;
}

.main-header ul {
    list-style: none;
}

.main-header a {
    font: inherit;

    color: #000;
}

.main-header .main-header-logo {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 42px;

    display: block;

    height: 44px;
    margin-bottom: 11px;

    text-transform: uppercase;

    color: #000;

    align-self: flex-start;
}

.main-header-logo:hover {
    color: rgba(0, 0, 0, .6);
}

.main-header-logo:active {
    color: rgba(0, 0, 0, .3);
}

.site-search {
    font-size: 0;

    position: relative;
}

.site-search::before {
    position: absolute;

    width: 40px;
    height: 49px;

    content: "";

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 4px center;
}

.search-field {
    font: inherit;
    font-size: 15px;
    line-height: 36px;

    width: 355px;
    height: 44px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 40px;

    opacity: .3;
    color: #000;
    border: none;
    outline: none;
    background-color: transparent;
}

.search-field:hover {
    opacity: .6;
}

.search-field:focus {
    opacity: 1;
    border-bottom: 2px solid #000;
}

.search-button {
    font: inherit;
    font-size: 15px;
    line-height: 36px;

    visibility: hidden;

    width: 85px;
    padding-top: 4px;
    padding-bottom: 5px;

    color: #000;
    border: 2px solid #000;
    background-color: transparent;
}

.search-field:focus ~ .search-button {
    visibility: visible;
}

.search-button:hover {
    color: #fff;
    background-color: #000;
}

.search-button:active {
    visibility: visible;

    color: rgba(255, 255, 255, .3);
    background-color: #000;
}

.main-header .action-login,
.main-header .action-dashboard,
.main-header .action-logout,
.main-header .action-compare,
.main-header .action-cart {
    line-height: 36px;

    position: relative;
}

.main-header .action-logout {
    opacity: .3;
}

.main-header .action-login,
.main-header .action-dashboard {
    padding-left: 27px;
}

.main-header .action-compare {
    padding-left: 20px;
}

.main-header .action-cart {
    padding-left: 24px;
}

.menu-btn {
    display: block;

    height: 49px;
    padding-top: 6px;
}

.main-header .action-login::before,
.main-header .action-dashboard::before,
.main-header .action-compare::before,
.main-header .action-cart::before {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 27px;
    height: 36px;
    padding-bottom: 19px;

    content: "";

    background-repeat: no-repeat;
    background-position: left bottom;
    background-origin: content-box;
}

.main-header .action-login::before,
.main-header .action-dashboard::before {
    background-image: url("../img/user.svg");
}

.main-header .action-compare::before {
    background-image: url("../img/compare.svg");
}

.main-header .action-cart::before {
    background-image: url("../img/cart.svg");
}

.main-header .action-login:hover,
.main-header .action-dashboard:hover,
.main-header .action-logout:hover,
.main-header .action-compare:hover,
.main-header .action-cart:hover {
    opacity: .6;
}

.main-header .action-login:active,
.main-header .action-dashboard:active,
.main-header .action-logout:active,
.main-header .action-compare:active,
.main-header .action-cart:active {
    opacity: .3;
}

li.catalog-navigation-item a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    letter-spacing: .01em;
    text-transform: none;

    color: #000;
}

.navigation-item a,
.drop-menu-trigger,
.drop-menu-trigger-wrapper {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    position: relative;

    letter-spacing: .2em;
    text-transform: uppercase;

    color: #000;
}

.drop-menu-trigger {
    color: inherit;
}

.drop-menu-trigger-wrapper:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, .6);
}

/*.drop-menu-trigger:hover,*/
.navigation-item a:hover {
    cursor: pointer;

    opacity: .6;
}

.navigation-item a:active,
.drop-menu-trigger:active {
    opacity: .3;
}

.drop-menu-trigger {
    margin-right: 10px;
    padding: 0;

    border: 0;
    background-color: transparent;
}

.promo-slide {
    display: none;
}

.promo-slider {
    position: relative;

    min-height: 504px;
}

.promo-toggle {
    bottom: 149px;
}

.promo-slider-controls {
    position: absolute;
    right: 83px;
    bottom: 149px;

    display: flex;

    height: 10px;

    content: "";

    justify-content: space-around;
    z-index: 1;
}

.promo-slider-controls label {
    width: 12px;
    height: 12px;

    border: 1px solid #000;
    border-radius: 50%;
}

.promo-slider-controls label:not(:first-child) {
    margin-left: 21px;
}

.promo-btn-1:checked ~ .promo-slider-slides > .promo-slide:first-child,
.promo-btn-2:checked ~ .promo-slider-slides > .promo-slide:nth-child(2),
.promo-btn-3:checked ~ .promo-slider-slides > .promo-slide:nth-child(3) {
    display: flex;
}

.promo-btn-1:checked ~ .promo-slider-controls > label[for="promo-btn-1"],
.promo-btn-2:checked ~ .promo-slider-controls > label[for="promo-btn-2"],
.promo-btn-3:checked ~ .promo-slider-controls > label[for="promo-btn-3"] {
    box-shadow: inset 0 0 0 3px #fff,
    inset 0 0 0 4px #000;
}

.slide-num {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 179.2px;
    font-weight: bold;
    line-height: 179.2px;

    margin-top: 0;
    margin-bottom: -134px;

    text-align: right;

    color: #fff;
}

.slide-slogan,
.page-title {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: bold;
    line-height: 1.2;

    color: #000;
}

.page-title {
    padding-left: 60px;
    margin-top: 34px;
    margin-bottom: 14px;
}

.slide-slogan {
    margin-bottom: 19px;
    margin-right: -2px;
}

.slide-short-desc {
    font: inherit;

    margin-bottom: 43px;
}

.btn-yellow {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

    position: relative;

    display: block;

    width: 260px;
    padding: 5px 0;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: #000;
    border: 0;
    background-color: transparent;
    z-index: 1;
}

.btn-yellow::before {
    position: absolute;
    z-index: -1;
    top: 16px;
    bottom: 0;
    left: 0;

    width: 100%;
    margin: 0 auto;

    content: "";

    border-top: 8px solid #f0c52e;
}

.btn-yellow:hover {
    background-color: #f0c52e;
}

.btn-yellow:active {
    color: rgba(0, 0, 0, .3);
}

.btn-yellow.slide-full-desc {
    width: 220px;
    margin-bottom: 52px;
}

.product-specs {
    border-collapse: collapse;
}

.product-specs th {
    font: inherit;
    font-size: 13px;
    line-height: 20px;

    padding-top: 8px;

    text-align: left;
}

.product-specs td {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 36px;
    font-weight: lighter;
    line-height: 1.2;

    color: #000;
}

.product-specs td:first-child,
.product-spect th:first-child {
    padding-left: 0;
}

.product-specs td:not(:last-child) {
    padding-right: 77px;
}

.popular {
    margin-bottom: 68px;
}

.product-groups {
    margin: 0;
    padding: 0;

    list-style: none;
}

.product-group-item a {
    position: relative;
}

.product-group-item a::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 160px;
    height: 160px;

    content: "";

    background-color: #f7e296;
    background-repeat: no-repeat;
    background-position: center;
}

.product-group-item:first-child a::before {
    background-image: url("../img/popular-1.svg");
}

.product-group-item:nth-child(2) a::before {
    background-image: url("../img/popular-2.svg");
    background-position: center bottom;
}

.product-group-item:nth-child(3) a::before {
    background-image: url("../img/popular-3.svg");
}

.product-group-item:nth-child(4) a::before {
    background-image: url("../img/popular-4.svg");
}

.product-group-item:nth-child(5) a::before {
    background-image: url("../img/popular-5.svg");
}

.product-group-item:last-child a::before {
    background-image: url("../img/poppular-6.svg");
}

.product-group-item a:hover::before {
    background-color: #f0c52e;
}

.product-group-item a:active {
    opacity: .3;
}

.product-group-item h3 {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    width: 160px;
    padding-top: 175px;

    text-align: left;

    opacity: inherit;
    color: #000;
}

.services-slider-controls label {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    position: relative;
    z-index: 1;

    display: block;

    width: 160px;
    height: 40px;
    margin-bottom: 25px;
    padding-top: 10px;

    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: #000;
}

.services-slider-controls label::before {
    position: absolute;
    z-index: -1;
    top: 16px;
    bottom: 0;
    left: 0;

    width: 100%;
    margin: 0 auto;

    content: "";

    border-top: 8px solid #f0c52e;
}

.services-slider-controls label:hover {
    background-color: #f0c52e;
}

.service-slide {
    display: none;
}

.services-btn-1:checked ~ .services-slider-slides > .service-slide:first-child,
.services-btn-2:checked ~ .services-slider-slides > .service-slide:nth-child(2),
.services-btn-3:checked ~ .services-slider-slides > .service-slide:nth-child(3) {
    display: flex;
}

.services-slider-controls label:active,
.services-btn-1:checked ~ .services-slider-controls label[for="services-btn-1"],
.services-btn-2:checked ~ .services-slider-controls label[for="services-btn-2"],
.services-btn-3:checked ~ .services-slider-controls label[for="services-btn-3"] {
    color: #f7e184;
    background-color: #000;
}

.services-slider-controls label:active::before,
.services-btn-1:checked ~ .services-slider-controls label[for="services-btn-1"]::before,
.services-btn-2:checked ~ .services-slider-controls label[for="services-btn-2"]::before,
.services-btn-3:checked ~ .services-slider-controls label[for="services-btn-3"]::before {
    width: 0;
}

.services-slider-controls label:active::after,
.services-btn-1:checked ~ .services-slider-controls label[for="services-btn-1"]::after,
.services-btn-2:checked ~ .services-slider-controls label[for="services-btn-2"]::after,
.services-btn-3:checked ~ .services-slider-controls label[for="services-btn-3"]::after {
    position: absolute;
    top: 0;
    left: 160px;

    width: 118px;
    height: 40px;

    content: "";

    background-color: #000;
}

.service-title {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: bold;
    line-height: 1.2;

    margin-top: 70px;
    margin-bottom: 11px;

    color: #000;
}

.brands {
    margin-bottom: 92px;
}

.brand-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.brand-list li {
    position: relative;
}

.brand-item {
    position: absolute;
    top: 0;
    left: 0;

    width: 260px;
    height: 100px;
    margin: 0;
}

.brand-item-hover {
    margin: 0;
}

.brand-item-hover .brand-logo {
    width: 260px;
    height: 100px;
}

.brand-link:hover .brand-item {
    opacity: 0;
}

.partners-list {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;

    padding-left: 20px;

    list-style: none;

    letter-spacing: normal;

    color: #000;
    padding: 0;
    margin-top: 66px;
}

.partner-item {
    position: relative;

    padding-left: 35px;
}

.partner-item::before {
    position: absolute;
    top: 16px;
    left: 1px;

    width: 8px;
    height: 8px;

    content: "";

    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.partner-title {
    padding-left: 10px;

    color: #000;
}

.about h2,
.contacts h2 {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: bold;
    line-height: 1.2;

    margin-top: 48px;
    margin-bottom: 39px;

    color: #000;
}

.main-footer {
    padding-top: 56px;
    padding-bottom: 64px;

    color: #fff;
    background-color: #464646;
}

.main-footer ul {
    list-style: none;
}

.main-footer a {
    color: #fff;
}

.main-footer .main-footer-logo {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;

    text-transform: uppercase;

    color: #ffc600;
}

.main-footer-logo:hover {
    color: rgba(255, 198, 0, .6);
}

.main-footer-logo:active {
    color: rgba(255, 198, 0, .3);
}

.main-footer .action-login,
.main-footer .action-compare,
.main-footer .action-cart {
    line-height: 36px;

    position: relative;

    display: inline-block;

    color: rgba(255, 255, 255, .7);
}

.main-footer .action-login {
    padding-left: 27px;
}

.main-footer .action-compare {
    padding-left: 20px;
}

.main-footer .action-cart {
    padding-left: 24px;
}

.main-footer .action-login::before,
.main-footer .action-compare::before,
.main-footer .action-cart::before {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 27px;
    height: 36px;

    content: "";

    background-repeat: no-repeat;
    background-position: left center;
}

.main-footer .action-login::before {
    background-image: url("../img/user-yellow.svg");
}

.main-footer .action-compare::before {
    background-image: url("../img/compare-yellow.svg");
}

.main-footer .action-cart::before {
    background-image: url("../img/cart-yellow.svg");
}

.main-footer .action-login:hover,
.main-footer .action-compare:hover,
.main-footer .action-cart:hover {
    color: rgba(255, 255, 255, 1);
}

.main-footer .action-login:hover::before,
.main-footer .action-compare:hover::before,
.main-footer .action-cart:hover::before {
    opacity: .6;
}

.main-footer .action-login:active,
.main-footer .action-compare:active,
.main-footer .action-cart:active {
    opacity: .3;
}

.main-footer p {
    width: 260px;

    letter-spacing: normal;
    word-break: break-word;
}

.services-navigation-item {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    letter-spacing: .2em;
    text-transform: uppercase;

    color: #fff;
}

.services-navigation-item:hover {
    cursor: pointer;

    opacity: .6;
}

.services-navigation-item:active {
    opacity: .3;
}

.footer-social {
    font-size: 0;
}

.social-btn {
    width: 32px;
    height: 32px;

    opacity: .3;
    background-repeat: no-repeat;
}

.social-btn:hover {
    opacity: .6;
}

.social-btn:active {
    opacity: .1;
}

.social-fb {
    background-image: url("../img/fb.svg");
}

.social-in {
    background-image: url("../img/instagram.svg");
}

.social-tw {
    background-image: url("../img/twitter.svg");
}

.footer-copyright {
    font-size: 0;

    width: 28px;
    height: 35px;
    margin-left: 52px;

        background-image: url("../img/logo-html.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.footer-copyright:hover {
    opacity: .6;
}

.footer-copyright:active {
    opacity: .3;
}

.write-us-caption {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    letter-spacing: normal;

    color: #000;
}

.text-field {
    font: inherit;
    font-size: 14px;
    line-height: 18px;

    color: rgba(70, 70, 70, .4);
    background-color: #f2f2f2;
}

.text-field:hover {
    background-color: #ebebeb;
}

.text-field:focus {
    color: rgba(70, 70, 70, 1);
    background-color: #fff;
}

.text-field:invalid {
    background-color: #f6dada;
}

.btn-submit,
.btn-filter,
.btn-catalog-add-to-cart {
    width: 200px;
}

.modal-close {
    font-size: 0;

    width: 55px;
    height: 55px;
    padding: 0;

    cursor: pointer;

    opacity: .5;
    border: 0;
    background-color: transparent;
    background-image: url("../img/modal-close.svg");
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: .3;
}

.breadcrumbs {
    display: flex;
    padding-left: 60px;
    margin-bottom: 40px;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 36px;

    opacity: .3;
    color: #000;
}

.breadcrumbs a:not(.breadcrumbs-current) {
    position: relative;
    padding-right: 37px;
}

.breadcrumbs a:not(.breadcrumbs-current)::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 17px;
    content: "";
    width: 4px;
    height: 7px;
    background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs a:not(.breadcrumbs-current):hover {
    opacity: .6;
}

.breadcrumbs a:not(.breadcrumbs-current):active {
    opacity: .1;
}

.filters {
    position: relative;
    /*background-color: #efefef;*/
    /*z-index: 1;*/
}

.filters::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #efefef;
}

.sorting {
    margin: 0 -9999px;
    padding: 0 9999px;
    /*z-index: 2;*/

    background-color: rgba(0, 0, 0, .08);
    /*    box-shadow:
      -9233px -10065px 0 9999px #fff,
      9999px 0px 0 9999px #fff,
      -760px -9999px 0 9999px rgba(0, 0, 0, .08);*/
}

.filters h2,
.sorting h2 {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;

    margin-top: 0;
    margin-bottom: 0;

    letter-spacing: .2em;
    text-transform: uppercase;

    color: #000;
}

.filters fieldset {
    margin: 0;
    padding: 0;

    border: 0;
}

.filters legend {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    letter-spacing: .01em;

    color: #000;
}

.filters label {
    font-size: 14px;
    line-height: 40px;
}

.price-controls label,
.price-controls input {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 22.27px;

    letter-spacing: normal;

    color: rgba(0, 0, 0, .2);
    border: 0;
    background-color: transparent;
}

.sorting ul {
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
}

.sorting-category a {
    font: inherit;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: normal;

    color: rgba(0, 0, 0, .3);
}

.sorting-category a:hover,
.sorting-category.active a:hover {
    color: rgba(0, 0, 0, .6);
}

.sorting-category.active a,
.sorting-category a:active {
    color: #000;
}

.sorting-order-item a {
    font-size: 0;

    opacity: .2;
}

.sorting-order-item.active a:hover,
.sorting-order-item a:hover {
    opacity: .4;
}

.sorting-order-item.active a,
.sorting-order-item.active a:active,
.sorting-order-item a:active {
    opacity: 1;
}

.sorting-order-item a::before {
    display: inline-block;

    width: 11px;
    height: 10px;

    content: "";
}

.sorting-order-asc a::before {
    background-image: url("../img/icon-up-dir.svg");
}

.sorting-order-desc a::before {
    background-image: url("../img/icon-down-dir.svg");
}

.catalog-list {
    list-style: none;
}

.catalog-price a {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    color: #000;
}

.catalog-cost {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.2;
}

.catalog-item-hover {
    background-color: rgba(238, 238, 238, .7);
}

.catalog-compare-add {
    font: inherit;
    font-size: 13px;
    line-height: 36px;

    color: rgba(0, 0, 0, .5);
}

.catalog-compare-add:hover {
    color: #000;
}

.catalog-compare-add:active {
    color: rgba(0, 0, 0, .2);
}

.pagination-list {
    display: flex;

    min-height: 70px;
    margin: 0;
    margin-bottom: 73px;
    padding: 0;

    list-style: none;

    background-color: rgba(0, 0, 0, .08);
}

.pagination-prev,
.pagination-next {
    width: 126px;

    text-align: center;
}

.pagination-prev {
    margin-right: auto;
}

.pagination-next {
    margin-left: auto;
}

.pagination-list li {
    display: flex;
    /*align-items: center;*/
}

.pagination-list a {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;

    letter-spacing: .2em;
}

.pagination-prev a,
.pagination-next a {
    width: 100%;
    height: 70px;

    text-transform: uppercase;

    color: #000;
}

.pagination-prev a:hover,
.pagination-next a:hover {
    background-color: rgba(0, 0, 0, .08);
}

.pagination-prev a:active,
.pagination-next a:active {
    color: rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .08);
}

.pagination-item:not(:nth-child(2)) {
    margin-left: 27px;
}

.pagination-item a {
    color: rgba(0, 0, 0, .3);
}

.pagination-item a:hover {
    color: rgba(0, 0, 0, .6);
}

.pagination-item a:active {
    color: #000;
}

.pagination-item.pagination-item-current a {
    color: #000;
}

/* layout */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

main.container {
    margin-bottom: 60px;
}

.main-header-wrapper {
    display: flex;
    flex-direction: column;

    padding: 20px 60px;
}

.main-header {
    position: relative;

    min-height: 225px;
    padding-bottom: 0;

    background-clip: content-box;
}

.main-header ul,
.main-footer ul {
    display: flex;

    margin: 0;
    padding: 0;
}

.main-header-top {
    display: flex;

    margin-bottom: 25px;
}

.site-search {
    margin-right: 100px;
}

.login-link,
.logout-link {
    margin-right: 20px;
}

.main-header-top .shopping-actions {
    margin-left: auto;

    justify-content: flex-end;
}

.main-footer .shopping-actions {
    margin-left: 21px;
}

.shopping-actions li:not(:first-child) {
    margin-left: 40px;
}

.navigation-list .navigation-item {
    height: 30px;
}

.navigation-list .navigation-item:first-child {
    position: relative;

    display: flex;

    width: 540px;
}

.drop-menu-trigger-wrapper {
    display: flex;

    height: 100%;

    justify-content: flex-start;
    align-items: center;
}

.drop-menu-trigger-wrapper:after {
    width: 16px;
    height: 16px;

    content: "";

    opacity: .3;
    background-image: url("../img/plus.svg");
}

.drop-menu-trigger-wrapper:hover > .catalog-navigation {
    display: flex;
}

.navigation-list .navigation-item:nth-child(2) {
    margin-right: 35px;
}

.navigation-list .navigation-item:last-child {
    margin-left: auto;
}

.catalog-navigation {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: -60px;

    display: none;

    width: 1160px;
    min-height: 160px;
    padding-top: 21px;
    padding-left: 60px;

    background-color: #f7e296;
}

.catalog-navigation .catalog-navigation-column {
    display: flex;
    flex-direction: column;

    margin-right: 60px;
}

.catalog-navigation .catalog-navigation-column:nth-child(2) {
    margin-right: 75px;
}

.catalog-navigation-item {
    height: 36px;
}

.slider,
.slide {
    /*display: flex;*/
    flex-shrink: 0;
}

/*.slider input[type="radio"] {
    display: none;
}*/

.promo-slider {
    margin-top: -15px;
    margin-bottom: 107px;

    box-shadow: inset 0 129px 0 0 #f7e296;
}

.slide-img {
    display: flex;

    width: 580px;
    margin-right: 20px;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;

    flex-shrink: 0;
    justify-content: center;
    align-items: flex-start;
}

.slide-text {
    position: relative;
    padding-top: 5px;
    padding-right: 50px;
}

.slide-text::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 7px;
    background-color: #fff;
    left: 0;
    top: 55px;
}

.services-slider {
    position: relative;

    display: flex;
}

.services {
    background-color: #e5e5e5;
    padding-bottom: 69px;
    margin-bottom: 94px;
    background-origin: padding-box;
    box-shadow: inset 0 100px 0 0 #fff;
}

/*.services-slider::after {
    position: absolute;
    z-index: -1;
    top: 100px;
    right: 100vw;
    bottom: -69px;
    left: -100vw;

    width: 300vw;

    content: "";

    background-color: #e5e5e5;
}*/

.service-slide {
    position: relative;

    flex-direction: column;

    padding-right: 325px;
    padding-left: 116px;

    background-repeat: no-repeat;
}

.service-slide:first-child {
    background-image: url("../img/delivery.svg");
    background-position: right 67px top 85px;
}

.service-slide:nth-child(2) {
    background-image: url("../img/warranty.svg");
    background-position: right 46px top 61px;
}

.service-slide:nth-child(3) {
    background-image: url("../img/credit.svg");
    background-position: right 70px top 61px;
}

.services-slider-controls {
    display: flex;
    flex-direction: column;

    padding-top: 80px;
    padding-bottom: 45px;

    border-right: 8px solid #000;

    flex-basis: 284px;
    flex-shrink: 0;
}

.product-groups {
    display: flex;

    justify-content: space-between;
}

.brand-list {
    display: flex;

    justify-content: space-between;
}

.about-and-contacts {
    display: flex;

    padding-bottom: 20px;

    justify-content: space-between;
}

.about,
.contacts {
    width: 560px;
    position: relative;
}

.about::before,
.contacts::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 7px;
    background-color: #000;
}

.about p {
    margin: 30px 0;
    padding-right: 75px;
}

.contacts p {
    margin: 39px 0;
}

.about-more {
    margin-top: 54px;
}

.write-us {
    margin-top: 69px;
}

.main-footer-top-row,
.main-footer-mid-row,
.main-footer-bottom-row {
    display: flex;
    align-items: center;
}

.main-footer-logo {
    margin-right: auto;
}

.main-footer-mid-row,
.main-footer-bottom-row {
    justify-content: space-between;
}

.main-footer-mid-row {
    margin-bottom: 33px;
}

.main-footer-mid-row .services-navigation {
    padding-right: 20px;
    padding-left: 20px;
}

.main-footer-mid-row p:last-child {
    text-align: right;
}

.services-navigation-item {
    display: flex;

    align-items: center;
}

.services-navigation-item:not(:last-child) {
    margin-right: 33px;
}

.main-footer-bottom-row::before {
    width: 80px;
    height: 7px;

    content: "";

    background-color: #ffc600;
}

.main-footer-bottom-row .bottom-right {
    display: flex;

    width: 80px;

    justify-content: flex-end;
}

.social-btn:not(:last-child) {
    margin-right: 23px;
}

.overlay {
    display: none;
}

.modal-show {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.modal {
    position: relative;

    width: 960px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
}

.modal-write-us {
    /*top: calc(50vh - 277px);*/

    padding: 95px 100px 79px;

    background-color: #fff;
}

.write-us-form {
    display: flex;

    flex-wrap: wrap;
}

.write-us-form p {
    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 35px;
}

.write-us-caption {
    margin-bottom: 10px;
}

.write-us-form .btn-submit {
    margin-top: 8px;
}

.text-field-fullname,
.text-field-email,
.text-field-message {
    padding: 15px 20px;

    border: 0;
}

.text-field-fullname,
.text-field-email {
    height: 50px;
}

.write-us-left-col,
.write-us-right-col {
    width: 360px;
}

.write-us-left-col {
    margin-right: 40px;
}

.write-us-form .text-field-message {
    width: 760px;
    height: 156px;
}

.modal-map p {
    margin: 0;
}

.sorting,
.sorting ul {
    display: flex;

    align-items: baseline;
}

.flex-container {
    display: flex;
}

.filters {
    display: flex;
    flex-direction: column;

    width: 328px;
    padding-left: 60px;
    /* margin-left: -10000px;
    padding-left: 10060px; */

    flex-shrink: 0;
}

.sorted-results {
    padding-left: 72px;
    width: 832px;
}

.sorting-order {
    margin-left: auto;
}

.catalog-list {
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 56px;

    flex-wrap: wrap;
}

.catalog-item:nth-child(2n + 1) {
    margin-right: 40px;
}

.container.sticky-bottom {
    margin-bottom: 0;
}

.sorting .sorting-categories {
    margin-left: 55px;
    padding: 0;
}

.sorting-category {
    margin-right: 30px;
}

.sorting-order-item {
    margin-left: 15px;
}

.filters h2 {
    margin-bottom: 69px;
}

.filter-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-checkbox,
.filter-radio {
    position: relative;

    padding-left: 40px;

    cursor: pointer;
}

.filter-checkbox::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 23px;

    content: "";

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    border: 1px solid transparent;
    background-origin: border-box;
}

.filter-input:checked + .filter-checkbox::before,
.filter-input:checked:focus + .filter-checkbox::before {
    width: 27px;
}

.filter-input:focus + .filter-checkbox::before {
    border-radius: 2px;
    box-shadow:
        0 0 0 1px #fff,
        0 0 0 4px highlight;
}

.filter-input:checked + .filter-checkbox::before {
    background-image: url("../img/checkbox-on.svg");
}

.filter-input + label:hover::before {
    opacity: .6;
}

.filter-input + label:active::before {
    opacity: 1;
}

.filter-input + .filter-checkbox:active::before {
    background-image: url("../img/checkbox-on.svg");
}

.filter-input:checked + .filter-checkbox:active::before {
    background-image: url("../img/checkbox-off.svg");
}

.filter-radio::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    content: "";

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 1px solid transparent;
}

.filter-input:focus + .filter-radio::before {
    border-radius: 50%;
    box-shadow:
        0 0 0 1px #fff,
        0 0 0 4px highlight;
}

.filter-input:checked + .filter-radio::before {
    background-image: url("../img/radio-on.svg");
}

.filter-input + .filter-radio:active::before {
    background-image: url("../img/radio-on.svg");
}

.filter-input:checked + .filter-radio:active::before {
    background-image: url("../img/radio-off.svg");
}

.range-filter {
    width: 200px;
    padding-top: 17px;
}

.range-controls {
    position: relative;
}

.range-controls .scale {
    height: 2px;

    background-color: #dbdbdb;
    margin-bottom: 5px;
}

.range-controls .bar {
    width: 60%;
    height: 2px;

    background-color: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    width: 20px;
    height: 20px;
    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle:active {
    width: 22px;
    height: 22px;
    transform: translate(-1px, -50%);
}

.range-controls .toggle-min {
    left: -6px;
}

.range-controls .toggle-max {
    left: 54%;
}

.price-controls input {
    width: 67px;
}

.catalog-item {
    position: relative;

    margin-bottom: 37px;
    padding-top: 13px;
}

.catalog-img {
    width: 360px;
    height: 380px;
    margin-bottom: 35px;
}

.catalog-item-hover {
    display: none;

    width: 360px;
    height: 380px;
}

.catalog-img:hover .catalog-item-hover {
    position: absolute;
    top: 13px;
    left: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.catalog-price {
    display: flex;

    justify-content: space-between;
}

.catalog-price a {
    width: 260px;
}

.filters fieldset {
    display: flex;
    flex-direction: column;

    margin-bottom: 31px;
}

.filters legend {
    min-width: 200px;
    padding-top: 13px;
    border-top: 2px solid #000;
    margin-bottom: 18px;
}








